ul{
    list-style:none;
}
body{
    margin: 0;
    height: 100vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
}
body{
    font-weight: 400;
    justify-content: center;
    display: flex;
    
}
.tgy{
    margin-left: 100px;
}
.passport{
    width: 120px;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
    position: absolute;
    top: 20px;
    left: 50%;
    align-items: top;
    margin-bottom: 30px;
    
}
